* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', Courier, monospace;
}

.navbar {
    background-color: darkgrey;
    padding: 15px;
}

.nav-links {
     list-style: none;
     display: flex;
     justify-content: center;
}

.nav-links li {
    margin: 0 20px;
}

.nav-links a {
    text-decoration: none;
    color: chocolate;
    font-size: 18px;
    transition: color 0.3s;
}

.nav-links a:hover {
    color:cornsilk;
}