* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lightgreen;
    padding: 15px 20px;
}

.logo {
    color: black;
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
}
.nav-links li {
     margin-left: 20px;
}

.nav-links a {
    text-decoration: none;
    color: darkmagenta;
    font-size: 18px;
}

#menu-toggle {
    display:none;
}

.hamburger {
    display: none;
    font-size: 28px;
    color: black;
    cursor: pointer;
}

@media (max-width :768px) {
.hamburger{
     display: block;
}

.nav-links {
     display: none;
     flex-direction: column;
     width: 100%;
     background-color: brown;
     position: absolute;
     top: 60px;
     left: 0;
}

.nav-links li {
    text-align: center;
    margin: 15px;
}

#menu-toggle:checked + .hamburger + .nav-links {
    display: flex;
  }

}